body {
  background-color: $first--color;
  font-family: $font--text;
  font-size: $size-textTel;
  line-height: 1.5;
  color: $wiht--color;
  margin: 0px;
}

h1{
  font-family: $font--titre;
  font-size: 31px;
  margin-bottom: 28px;
  margin-top: 0px;
}

p{
 margin: 0px;
 margin-bottom: 20px;
}
.parag--nom{
  font-family: $font--titre;
  font-size: $size-textTel;
  margin: 0px;
  //margin-bottom: 231px;
}
.parag--note{
  font-size: 18px;
}

.ritme--vertical{
  height:  15.2em;
}

h2{
  font-family: $font--titre;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 22px;
}

img{
  width: 90vw;
}

.image--main{
  
  margin: -20px;
  z-index: -2;

}
.transforme{
  transform: scaleX(-1);
} 

.image--flou{
  position: absolute;
  width: 300px;
  height: 100vw;
  background-image: url('../assets/images/flou_beau.webp');
  background-size: cover;       
  transform: scaleX(-1);
  z-index: -1;
  margin: 3.5em -20px;
}
.image--yeux {
  width: 90vw;
  display: block;
  margin: 0;        
  padding: 0;       
  float: right;      
}

.fond{
  background: linear-gradient(to bottom right, $degraderclaire--color, $degraderfoncer--color);
  padding: 1em;
  border-radius: 15px;
  box-shadow: 3px 10px 5px #111230;
}

.parag--bleu{
  background: $bleuclair--color;
  padding: 1em;
  border-radius: 15px;
  color: #111230;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 38%; 
  gap: 10px;
  margin: 0px 20px;
  margin-bottom: 44px;
}
.grid > *{
  grid-column: 1 / -1;
}
.grid--second{
  grid-column-end: -2;
}

.grid--trier{
  grid-column: 2 / -1;
}



.box--who{
  
  background-color: transparentize($first--color, 0.5);//$first--color;
  padding: 1em;
  border-radius: 15px;
  margin-bottom: 20px;
}

.vidéo--projet{
  width: 100%;
  overflow-x: hidden;
  vertical-align: middle;
  cursor: none;
  border-radius: 15px;
  
  &.video--dataplay{
  box-shadow: 3px 10px 5px #111230;
  }
  &.video--rux{
  box-shadow: -3px -10px 5px #111230;
  }
}

.cordonée{
  margin-left: 20px;
  margin-right: 20px;
}
//video
.video--mobile {
  display: none;
}

.video--desktop {
  display: block;
}

.logo--container{
  display: flex;        
  flex-wrap: nowrap;                  
  align-items: center;  
  gap: 1em;      
  overflow-x: auto; 
  
  .logo{
    width: 205px;
  } 
}




@media (min-width: 734px){
  .video--mobile {
    display: block;
  }

  .video--desktop {
    display: none;
  }
}

@media (min-width: 1200px){
  body {
    font-size: $size-textOrdi;
  }

  h1{
    font-size: 117px;
    margin-bottom: 43px;
  }
  p{
    margin-bottom: 27px;
   }
   .parag--nom{
    font-size: $size-textOrdi;
  }
  .parag--note{
    font-size: 25px;
  }
  .ritme--vertical{
    height:  7.5em;
  }
  h2{
    font-size: 48px;
    margin-bottom: 27px;
  }
  img{
    width: 100vw;
  }
  
  .image--main{
    //margin-right: -100px;
    margin: 0px;
    width: 60em;
    z-index: -1;

  }
  .image--flou{
    position: absolute;
    width: 31em;
    height: 47em;
    margin: 3.5em -67px;
  }
  .image--yeux {
    width: 60vw;
    margin-right: -67px;     
  }
  .box--who{
    margin-bottom: 27px;
  }  

  .cordonée{
    margin-left: 67px;
    margin-right: 67px;
    margin-top: 105px;
   
  }

 

  //gird
  .grid{
    display: grid;
    grid-template-columns: 27em 9em 1fr; 
    gap: 22px;
    margin: 0px 67px;
    margin-bottom: 67px;
  }
  .grid--trier{
    grid-column: 2 / -2;
  }
  .grid--undeux{
    grid-column: 2 / -1;
  }
  .grid--fin{
    grid-column: 3 / -1;
  }
  .grid--first{
    grid-column: 1 / -3;
  }
  .grid--firstdeux{
    grid-column: 1 / -2;
  }
  
 
  //image
  .image--fresque{
    width: 90vw;
  }
  .image--travaux {
    width: 50vw;
  }
 
  //soleil
  #sun, #moon{
    position: fixed;
    top: -10vh;
    right: -10vw;
    z-index: -2;
    //transform: translateX(-50%);
    pointer-events: none; // pour que le curseur passe à travers
    transition: top 0.5s ease-out, right 0.5s ease-out;
  }
  
  .sun-svg {
    width: 50em;
  }
 .moon-svg{
  width: 40em;
 }
}