$c-bg: #efefef;
$c-alt: #e41612;
$c-text: #fff;

$size-textTel: 16px;
$size-textOrdi: 22px;


$first--color:#0A4DA6;
$second--color:#E4B203;
$degraderfoncer--color:#D94179;
$degraderclaire--color:#CA6F98;
$wiht--color:#fff;

.climate-crisis {
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "YEAR" 1979;
  }
$font--titre:"Climate Crisis", sans-serif;


.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

$font--text:"Lexend", sans-serif;;