//navigation

.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
 // user-select: none;
  position: fixed;
  bottom: 35px; 
  right: 35px;
  z-index: 10;
  overflow: hidden;
  &:hover {
    height: 100%;
    .sub-button:nth-child(2) {
        transform: translateY(-120px);
        opacity: 1;
        visibility: visible;
    }
    .sub-button:nth-child(3) {
        transform: translateY(-180px);
        opacity: 1;
        visibility: visible;
    }
    .sub-button:nth-child(4) {
        transform: translateY(-240px);
        opacity: 1;
        visibility: visible;
    }
    .sub-button:nth-child(5) {
        transform: translateY(-300px);
        opacity: 1;
        visibility: visible;
    }

  }
  .fab {
    position: relative;
    height: 69px; 
    width: 69px;
    margin: 20px;
    background: linear-gradient(to bottom right,$wiht--color, $second--color);
  
    box-shadow: 10px 10px 10px #111230;
    border-radius: 50%;
    z-index: 10;
  }
  .sub-button {
    
    font-family: $font--titre;
    position: absolute;
    display: flex;
    opacity: 0;
    align-items: center; 
    justify-content: center;
    font-size: 16px; 
    visibility: hidden;
    transition: all .3s ease;
    &:hover {
      cursor: pointer;
    }
    .material-icons {
      color: white;
      padding-top: 10px;

    }
    a{
        text-decoration: none;
    }
  }
}
@media (min-width: 1000px){

  .fab-container {
    overflow: hidden;
    flex-direction: row-reverse;
    justify-content: left;
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: 100px;
    width: 100vw;
    padding: 10px 67px;
    
    background: $second--color;
    box-shadow: 3px 10px 5px #111230;
    height: auto;
    z-index: 10;
    &:hover {
      height: auto;

      // annule les translations du mobile
        .sub-button:nth-child(2) {
            transform: none;
            opacity: 1;
        }
        .sub-button:nth-child(3) {
          transform: none;
            opacity: 1;
        }
        .sub-button:nth-child(4) {
          transform: none;
            opacity: 1;
        }
        .sub-button:nth-child(5) {
          transform: none;
            opacity: 1;
        }
    
    }
  
      .sub-button {
        transform: none;
        transition: none;
        opacity: 1;
        position: static;
        visibility: visible;
      }
    .fab {
      display: none; // cache le gros bouton rond
    }

    .sub-button {
      position: static;
      opacity: 1;
      margin: 0 15px;

      a {
        color: white;
        font-size: 22px;

        &:hover {
          color: #ffcc00; // couleur au survol
        }
      }
    }
  }
}